<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <!--Get your own code at fontawesome.com-->
  
</head>
<body>
<h1>form validations </h1>




<!--   
  <div class="container">
    <div class="container">
      <h2>Angular Form Validation</h2>
      <form (ngSubmit)="registerForm.valid && register()" #registerForm="ngForm">
          <div class="form-group">
              <label>Name:</label>
              <input class="form-control" placeholder="Enter Name" name="txtName" [(ngModel)]="name" #txtName="ngModel"
                  [ngClass]="{ 'is-invalid': registerForm.submitted && txtName.invalid }" required>
              <div *ngIf="registerForm.submitted && txtName.invalid" class="text-danger">
                  <h6 *ngIf="txtName.errors.required">
                      Name is Required
                  </h6>
              </div>
          </div>
          <div class="form-group">
              <label>Email:</label>
              <input type="email" class="form-control" placeholder="Enter Email" name="txtEmail" [(ngModel)]="email"
                  #txtEmail="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && txtEmail.invalid }" required
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <div *ngIf="registerForm.submitted && txtEmail.invalid" class="text-danger">
                  <h6 *ngIf="txtEmail.errors.required">
                      Email is Required
                  </h6>
                  <h6 *ngIf="txtEmail.errors.pattern">
                      Please Enter Valid Email Address
                  </h6>
              </div>
          </div>
          <div class="form-group">
              <label>Mobile:</label>
              <input class="form-control" placeholder="Enter Mobile" name="txtMobile" [(ngModel)]="mobile"
                  #txtMobile="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && txtMobile.invalid }"
                  maxlength="10" required pattern="^((\\+91-?)|0)?[0-9]{10}$">
              <div *ngIf="registerForm.submitted && txtMobile.invalid" class="text-danger">
                  <h6 *ngIf="txtMobile.errors.required">
                      Mobile Number is Required
                  </h6>
                  <h6 *ngIf="txtMobile.errors.pattern">
                      Please Enter Valid Mobile Number
                  </h6>
              </div>
          </div>
          <div class="form-group">
              <label>Password:</label>
              <input type="password" class="form-control" placeholder="Enter Password" name="txtPassword"
                  [(ngModel)]="password" #txtPassword="ngModel"
                  [ngClass]="{ 'is-invalid': registerForm.submitted && txtPassword.invalid }" maxlength="20" minlength="5"
                  required>
              <div *ngIf="registerForm.submitted && txtPassword.invalid" class="text-danger">
                  <h6 *ngIf="txtPassword.errors.required">
                      Password is Required
                  </h6>
                  <h6 *ngIf="txtPassword.errors.minlength">
                      Minimum 5 Characters Required
                  </h6>
              </div>
          </div>
          <button class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-outline-primary ml-2">Reset</button>
      </form>
  </div>
  </div>  -->

<!--   
  <div class="container">
  <h2>Validation Example</h2>

  <form  ng-app="myApp"  ng-controller="validateCtrl"
  name="myForm" novalidate>
  
 <section> Username: &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="user" ng-model="user" required>
    <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
    <span ng-show="myForm.user.$error.required">Username is required.</span>
    </span>
  </section>
  
  <p>Email:<br>
    <input type="email" name="email" ng-model="email" required>
    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
    <span ng-show="myForm.email.$error.required">Email is required.</span>
    <span ng-show="myForm.email.$error.email">Invalid email address.</span>
    </span>
  </p>
  
  <p>
    <input type="submit"
    ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
    myForm.email.$dirty && myForm.email.$invalid">
  </p>
  
  </form>
</div>
  
  <script>
  var app = angular.module('myApp', []);
  app.controller('validateCtrl', function($scope) {
    $scope.user = 'John Doe';
    $scope.email = 'john.doe@gmail.com';
  });
  </script>




 -->


<!--   
  <div class="header">
    <h2>IndoBytes Careers </h2>
    <span>Angular developers</span>
  </div>

<div class="container">
  <form name="myForm">
    <div class="row">
      <div class="col-2"></div>
    <label for="myName"> Customer name </label>
    <div class="col-1"></div>
    <input name="myName" ng-model="myName" placeholder="enter customer name " required>
    <div class="col-1"></div>
    <span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</span> </div>
  </form>
  </div>




  <script>
    var app = angular.module('myApp', []);
    app.controller('validateCtrl', function($scope) {
      $scope.user = 'John Doe';
      $scope.email = 'john.doe@gmail.com';
    });
    </script> -->

<!--  
  <form action="" onSubmit="return validform()">
    <div class="row text-center">  
      <div class="col-12">
      <h3>Customer Registration Form</h3></div>

    </div>
    
<div class="customer">
    <div class="row">
      
      <div class="col-4">
        <div id="mistake">*</div>
      </div>
      <div class="col-2"><label for="cname">Customer Name</label></div>
      <div class="col-"></div><input type="text" name="cname" id="cname" placeholder="enter your name">
    </div>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-2"><label for="email">email</label></div>
      <div class="col-"><input type="email" name="email" id="email" placeholder="enter your email"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2"><label for="number">Phone number</label></div>
      <div class="col-"></div><input type="number" name="number" id="number" placeholder="enter phone number">
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2"><label for="password">password</label></div>
      <div class="col-*"> <input type="password" name="password" id="password" placeholder="password 'example@123' "></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2"><label for="confirm">Confirm password</label></div>
      <div class="col-"><input type="password" name="confirm" id="confirm" placeholder="confirm password "></div>
    </div>

  </div>  
  <div class="branch">
    <div class="row">
      <div class="col-12 text-center"><h3>branch details </h3></div>
    </div>
   <div class="row">
     <div class="col-4"></div>
     <div class="col-2"><label for="branch">branch Name</label></div>
     <div class="col-"><input type="text" name="branch" id="branch" placeholder="enter branch name "></div>
   </div>
   
   <div class="row">
     <div class="col-4"></div>
     <div class="col-2"><label for="bemail  ">email Id</label></div>
     <div class="col-"><input type="email" name="bemail" id="bemail" placeholder="enter branch email ">   </div>
   </div>

   <div class="row">
     <div class="col-4"></div>
     <div class="col-2"><label for="branchno ">Branch phone number</label></div>
     <div class="col-"><input type="number" name="branchno" id="branchno" placeholder="enter branch number">   </div>
   </div>

   <div class="row">
     <div class="col-4"></div>
     <div class="col-2"><label for="branchcity  "> branch city</label></div>
     <div class="col-*"><input type="text" name="branchcity" id="branchcity" placeholder="enter brach city">   </div>
   </div>

   <div class="row">
     <div class="col-4"></div>
     <div class="col-2"><label for="baddress  ">Branch Address</label></div>
     <div class="col-3"> <textarea name="baddress" id="baddress" placeholder="enter branch address" ></textarea>  </div>
   </div>

   <div class="row">
     <div class="col-4"></div>
     <div class="col-2"><label for="btype  ">Branch Type</label></div>
     <div class="col-*"><input type="radio" name="btype" id="btype"> Main Branch 
      <input type="radio" name="btype" id="btype">Sub Branch   </div>
      
   </div>

   <div class="row">
     <div class="col-4"></div>
     <div class="col-2"><label for="branchbusiness">branch business</label></div>
     <div class="col-*"> <input type="checkbox" name="branchbusiness" id="branchbusiness"> Marketing
      <input type="checkbox" name="branchbusiness" id="branchbusiness"> IT
      <input type="checkbox" name="branchbusiness" id="branchbusiness"> BPO
      <input type="checkbox" name="branchbusiness" id="branchbusiness"> Sales
      <input type="checkbox" name="branchbusiness" id="branchbusiness"> Electronics
    </div>
   </div>

   <div class="row">
     <div class="col-4"></div>
     <div class="col-2"><label for="  "></label></div>
     <div class="col-*">   </div>
   </div>


  </div>

  <div class="row">
    <div class="col-12 text-center"><input type="submit" value="+ ADD BRANCH" id="submit" name="submit" routerLink="/formvalidation"></div>
  </div>
  <div class="row">
    <div class="col-12 text-center "><input type="submit" value=" SUBMIT" id="submit" name="submit" routerLink="/app-root" ></div>
  </div>
  
  
  </form>
</div>

<router-outlet></router-outlet>

<script>

  function validform(){
    var cname=document.getElementById("cname").value;
    var email=document.getElementById("email").value;
    var  number  =document.getElementById(" number").value;
    var  password  =document.getElementById(" password").value;
    var  confirm   =document.getElementById("confirm ").value;

    var branch   =document.getElementById("branch ").value;
    var bemail   =document.getElementById(" bemail").value;
    var branchno   =document.getElementById("branchno ").value;
    var branchcity   =document.getElementById(" branchcity").value;
    var baddress   =document.getElementById("baddress ").value;
    var btype   =document.getElementById("btype ").value;
    var branchbusiness   =document.getElementById("branchbusiness ").value;

    var mistake=document.getElementById("mistake");

    var text;

    if(cname=="undefined" || cname== "null" || cname.length< 4 ){
      text="enter customer name correctly";
      mistake.innerHTML=text;
      return false;

    }

  }

</script> -->

</body>
</html>
 








<!-- <form #ref="ngForm" (ngSubmit)="doLogin(ref).value">
 <div class="form-group">
     <label for="un">Customer Name</label>
     <input type="text" name="username" id="un" class="form-control" #ref1="ngModel" required>
 </div> 
 <div *ngIf="ref1.touched && ref1.invalid" class="alert alert-danger">
     *customer name is required
 </div>   

</form>  -->